/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-bounds-presentation {
	overflow: visible;
}

.wp-block-bounds-presentation .slider-container {
	overflow: hidden;
	position: relative;
	width: 100%;
}
