/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.slider-container {
	flex-basis: 100%;
	flex-wrap: wrap;
	height: auto;
}

.slider-container > * {
	width: 100%;
}