/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-bounds-presentation {
	overflow: hidden;
}

.wp-block-bounds-presentation .slider-container {
	position: relative;
	width: 100%;
}

.slider-container {
	display: flex;
	height: 100%;
	position: relative;
	transform: translate3d(0, 0, 0);
	transition-delay: 0ms;
	transition-duration: 0.5s;
	transition-property: transform;
	transition-timing-function: var(--bounds-transition-timing-function, initial);
	width: 100%;
	z-index: 1;
}

[data-wp-interactive="presentation"] {
	flex-shrink: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	height: 100%;
	position: relative;
	transform: translateZ(0);
	transition-property: transform;
	width: 100%;
	z-index: 1;
}

.presentation-navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	padding: 0 1rem;
}

.presentation-navigation__button {
	background-color: transparent;
	border: none;
}
