.wp-block-bounds-presentation {
	display: block;
	overflow: hidden;
	position: relative;
	touch-action: pan-y;
	z-index: 1;
}

.wp-block-bounds-presentation .slider-container > * {
	display: block;
	flex-shrink: 0;
	transition-property: transform;
}

.slider-container {
	display: flex;
	position: relative;
	transition-property: transform;
	transition-timing-function: var(--slider-container-transition-timing-function, initial);
	z-index: 1;
}

.presentation-navigation {
	bottom: 1vh;
	position: absolute;
	z-index: 2;
}